@font-face {
  font-family: LakesB;
  src: url("../fonts/TTLakes/TTLakes-Bold.ttf");
}

@font-face {
  font-family: LakesM;
  src: url("../fonts/TTLakes/TTLakes-Medium.ttf");
}

@font-face {
  font-family: LakesR;
  src: url("../fonts/TTLakes/TTLakes-Regular.ttf");
}
