@import "main";


.header {
  display: flex;
  justify-content: space-between;
  height: 88px;

  background-color: $color-1;


  &__logo {
    margin: 0 16px;
    display: flex;
    align-items: center;
  }

  &__logo-link {
    margin-right: 16px;
  }

  &__first-separator {
    display: none;
    margin: 28px 20px 28px 0;
  }

  &__second-separator {
    margin: 28px 20px 28px 0;
  }


  &__links {
    display: flex;
    //justify-content: space-around;
    align-items: center;
  }

  &__link {
    margin-right: 16px;

  }
}

.alter-header{
  display: none;
}


@media (min-width: 321px) and (max-width: 768px) {

  .header {

    &__logo {
      margin-left: 24px;

    }


    &__logo-link {
      margin-right: 20px;
    }

    &__first-separator {
      display: block;
    }

    &__second-separator {
      //display: block;
    }

    &__link {
      margin-right: 20px;
    }

  }


}


@media (min-width: 769px)  {

  .header {
    display: none;

    .line {
      display: none;
    }

  }

  .alter-header {
    padding: 42px 32px 8px 32px;
    //padding-top: 42px;
    //padding-bottom: 8px;
    background-color: $color-6;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .line {
      top: 200px;
    }

    &__title {

    }

    &__menu {
      display: flex;
      align-items: center;

      .menu__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color-2;

        &:first-child {
          margin-right: 32px;
        }

      }

      .link {

        &__text {
          padding-right: 8px;
        }

      }

    }
  }

}

@media (min-width: 1121px) {

  .services{

    .line {
      display: none;
    }

  }

}
