@import "main";


.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 98vh; /*Исправь на 100vh*/
  background-color: white;
  border: 1px #1B1C21 solid;


  //justify-content: space-between;

  &__body {
    display: flex;


  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;

  }

  &__logo {



  }

  &__find {

  }



}
